extends layout

block content
  h1= title
  h2#numClientes
  ul#mensajes
  div 
    label Nombre 
    input#inputUsuario(type="text")
  div 
    label Mensaje 
    input#inputMensaje(type="text")
  button#btnEnviar Enviar


  script(src="/socket.io/socket.io.js") 
  script.
    const socket = io();

    const inputUsuario = document.getElementById('inputUsuario');
    const inputMensaje = document.getElementById('inputMensaje');
    const btnEnviar = document.getElementById('btnEnviar');
    const mensajes = document.getElementById('mensajes');
    const numClientes = document.getElementById('numClientes');

    btnEnviar.addEventListener('click', ()=>{
      socket.emit('mensaje_chat', {
        usuario: inputUsuario.value,
        mensaje: inputMensaje.value
      });
    });   

    socket.on('mensaje_chat', data => {
      const li = document.createElement('li');
      li.innerText = `${data.usuario}: ${data.mensaje}`;

      mensajes.append(li);
    }); 

    socket.on('num_clientes', num => {
      numClientes.innerText = `Clientes conectados: ${num}`;
    });